/*--------------------------- CONTENIDO GENERAL --------------------------- */
.inicio-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  color: white;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  z-index: 1;
}
/* Imagen de fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/gameOver.png");
  /* Cambia por la ruta de tu imagen */
  background-size: contain;
  background-position: center;
  z-index: -1;
}

.contenido {
  margin-top: 80px;
}

/*--------------------------- BOTONES --------------------------- */
.options {
  position: absolute;
  bottom: 75px;
  left: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.start-btn {
  position: relative;
  display: inline-block;
  margin: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.start-btn span {
  border: 4px solid black;
  color: black;
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background: rgb(84, 93, 170);
  background: rgb(232, 0, 3);
  background: linear-gradient(
    0deg,
    rgba(232, 0, 3, 1) 0%,
    rgba(242, 146, 7, 1) 61%,
    rgba(251, 245, 11, 1) 100%
  );
  display: block;
  position: relative;
  padding: 10px 30px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7a0102;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7a0102;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7a0102;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.start-btn span:active {
  top: 10px;
  background: rgb(179, 0, 2);
  background: linear-gradient(
    0deg,
    rgba(179, 0, 2, 1) 0%,
    rgba(170, 100, 0, 1) 61%,
    rgba(195, 190, 0, 1) 100%
  );

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #7a0102;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #7a0102;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #7a0102;
}

.start-btn:after {
  content: "";
  height: 100%;
  width: 100%;
}

.start-btn span:hover {
  filter: brightness(0.9);
}
