<div class="inicio-container">
    <!-- Imagen de fondo -->
  <div class="background-image"></div>
   <!-- Contenedor principal de contenido -->
   <div class="content">

    <div class="contenido">
      <div class="record">
        <h2>
          Récord de movimientos: <b>{{ record }}</b>
        </h2>
      </div>
    
    <!-- Botones de navegación -->
    <div class="options">
        <div class="border-gradient">
          <button (click)="startGame()" class="start-btn">
            <span>Volver al inicio</span>
          </button>
        </div>
</div>
