.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white; /* Color blanco para el texto */
    text-align: center;
  }
  
  /* Imagen de fondo */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/fondo.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  /* Contenedor de contenido */
  .content {
    z-index: 1;
    color: white; /* Color blanco para garantizar que el contenido principal sea legible */
  }

  /* Estilo para el contenedor de botones */
  .button-container {
    position: absolute; /* Mantenerlo absoluto */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
  }
  
  /* Estilo específico para los botones */
  .button {
    cursor: pointer;
    margin: 0 10px; /* Espaciado entre los botones */
    width: 120px; /* Cambia este valor según el tamaño deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción de la imagen */
  }

  .back-btn {
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    overflow: hidden;
  }
  
  .back-btn:hover {
    width: 60px;
    height: 60px;
    overflow: visible;
  }


  .capsule-container {
    position: absolute; /* Mantenerlo absoluto */
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
  }

  /* Estilo específico para los botones */
  .capsule {
    cursor: pointer;
    margin: 0 10px; /* Espaciado entre los botones */
    width: 145px; /* Cambia este valor según el tamaño deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción de la imagen */
  }

  .button-enviarL{
    position: absolute; /* Mantenerlo absoluto */
    bottom: 290px; /* Ajusta la distancia desde la parte inferior */
    right: 85%; /* Centrar horizontalmente */
    transform: translateY(-50%); /* Centra el contenedor horizontalmente */
  }

  .button-enviarR{
    position: absolute; /* Mantenerlo absoluto */
    bottom: 290px; /* Ajusta la distancia desde la parte inferior */
    left: 85%; /* Centrar horizontalmente */
    transform: translateY(-50%); /* Centra el contenedor horizontalmente */
  }

  .optionss {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center;
    }

    .cientifico1Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: -10px; /* Ajusta la distancia desde la parte inferior */
        right: 94%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

    .robot1Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 70px; /* Ajusta la distancia desde la parte inferior */
        right: 89%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 146px; /* Ajusta la distancia desde la parte inferior */
        right: 74%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }


      .robot2Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 146px; /* Ajusta la distancia desde la parte inferior */
        right: 68%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 148px; /* Ajusta la distancia desde la parte inferior */
        right: 79%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Lab1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 130px; /* Ajusta la distancia desde la parte inferior */
        right: 84%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico1Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: -50px; /* Ajusta la distancia desde la parte inferior */
        left: 92%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

    .robot1Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: -40px; /* Ajusta la distancia desde la parte inferior */
        left: 85%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: -50px; /* Ajusta la distancia desde la parte inferior */
        left: 72%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }


      .robot2Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: -10px; /* Ajusta la distancia desde la parte inferior */
        left: 65%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 200px; /* Ajusta la distancia desde la parte inferior */
        left: 70%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Lab2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 125px; /* Ajusta la distancia desde la parte inferior */
        left: 78%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot1Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }
      .robot1Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot1Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot2Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot2Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        right: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico1Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico1Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Cap1Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Cap1Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        right: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot1Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }
      .robot1Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot1Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot2Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot2Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 55%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .robot3Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 30px; /* Ajusta la distancia desde la parte inferior */
        left: 51%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico1Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico1Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico2Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Cap2Pos1{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 56%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }

      .cientifico3Cap2Pos2{
        position: absolute; /* Mantenerlo absoluto */
        bottom: 25px; /* Ajusta la distancia desde la parte inferior */
        left: 52%; /* Centrar horizontalmente */
        transform: translateY(-50%); /* Centra el contenedor horizontalmente */
      }


    .characters{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px; 
        align-items: center;
    }
    