<div class="inicio-container">
    <!-- Imagen de fondo -->
    <div class="background-image"></div>
  
    <!-- Contenedor principal de contenido -->
    <div class="content">
        
        <div class="regresar">
                <img 
                class="back-btn"
                src="assets/cerrar.png"
                alt="Regresar"
                [src]="isRegresarButtonPressed ? 'assets/cerrarPressed.png' : 'assets/cerrar.png'" 
                (mousedown)="onRegresarButtonMouseDown()" 
                (mouseup)="onRegresarButtonMouseUp()" 
                (mouseleave)="isRegresarButtonPressed = false" 
                
                />
          </div>

          <div class="characters">

            <div class="robot1Lab1">
                <img 
                src="assets/robot.png" 
                alt="robot 1"
                style="top: 982px; left: 758.951px; width: 70px;"
                />
            </div>

            <div class="cientifico1Lab1">
                <img 
                src="assets/100tifico1.png" 
                alt="cientifico 1"
                style="top: 982px; left: 758.951px; width: 50px;"
                />
            </div>

            <div class="cientifico2Lab1">
                <img 
                src="assets/100tifico2.png" 
                alt="cientifico 2"
                style="top: 982px; left: 758.951px; width: 50px;"
                />
            </div>

            <div class="robot2Lab1">
                <img 
                src="assets/robot.png" 
                alt="robot 2"
                style="top: 982px; left: 758.951px; width: 70px;"
                />
            </div>
            
            <div class="robot3Lab1">
                <img 
                src="assets/robot.png" 
                alt="robot 3"
                style="top: 982px; left: 758.951px; width: 70px;"
                />
            </div>
            
            <div class="cientifico3Lab1">
                <img 
                src="assets/100tifico3.png" 
                alt="cientifico 3"
                style="top: 982px; left: 758.951px; width: 50px;"
                />
            </div>

          </div>

          <div class="optionss">
            <div class="button-enviarL">
              <img 
                class="button"
                src="assets/sendCientifico.png" 
                alt="sendCientifico"
                [src]="isSendCButtonPressed ? 'assets/sendCientificoPressed.png' : 'assets/sendCientifico.png'" 
                (mousedown)="onSendCButtonMouseDown()" 
                (mouseup)="onSendCButtonMouseUp()" 
                (mouseleave)="isSendCButtonPressed = false" 
                style="top: 982px; left: 758.951px; width: 150px;"
              />
              <img 
                class="button"
                src="assets/sendRobot.png" 
                alt="sendCientifico"
                [src]="isSendRButtonPressed ? 'assets/sendRobotPressed.png' : 'assets/sendRobot.png'" 
                (mousedown)="onSendRButtonMouseDown()" 
                (mouseup)="onSendRButtonMouseUp()" 
                (mouseleave)="isSendRButtonPressed = false" 
                style="top: 982px; left: 758.951px; width: 150px;"
              />
            </div>
            <div class="button-enviarR">
              <img 
                class="button"
                src="assets/sendCientifico.png" 
                alt="sendCientifico"
                [src]="isSendCButtonPressed ? 'assets/sendCientificoPressed.png' : 'assets/sendCientifico.png'" 
                (mousedown)="onSendCButtonMouseDown()" 
                (mouseup)="onSendCButtonMouseUp()" 
                (mouseleave)="isSendCButtonPressed = false" 
                style="top: 982px; left: 758.951px; width: 150px;"
              />
              <img 
                class="button"
                src="assets/sendRobot.png" 
                alt="sendCientifico"
                [src]="isSendRButtonPressed ? 'assets/sendRobotPressed.png' : 'assets/sendRobot.png'" 
                (mousedown)="onSendRButtonMouseDown()" 
                (mouseup)="onSendRButtonMouseUp()" 
                (mouseleave)="isSendRButtonPressed = false" 
                style="top: 982px; left: 758.951px; width: 150px;"
              />
            </div>
            </div>

          <div class="capsule-container">
            <img 
              [src]="leftCapsuleState" 
              alt="Cápsula Izquierda" 
              class="capsule" 
            />
            <img 
              [src]="rightCapsuleState" 
              alt="Cápsula Derecha" 
              class="capsule" 
            />
          </div>

        <div class="button-container">
            <button 
            (mouseup)="onSendButtonMouseUp()">
            <img 
              class="button"
              src="assets/botonEnviar.png" 
              alt="Enviar"
              [src]="isSendButtonPressed ? 'assets/botonEnviarPressed.png' : 'assets/botonEnviar.png'" 
              (mousedown)="onSendButtonMouseDown()" 
              (mouseleave)="isSendButtonPressed = false" 
              style="top: 982px; left: 758.951px;"
            />
        </button>

        <button 
            (mouseup)="onBackButtonMouseUp()">
            <img 
              class="button"
              src="assets/botonRegresar.png" 
              alt="Regresar"
              [src]="isBackButtonPressed ? 'assets/botonRegresarPressed.png' : 'assets/botonRegresar.png'" 
              (mousedown)="onBackButtonMouseDown()" 
              (mouseleave)="isBackButtonPressed = false" 
              style="top: 982px; left: 758.951px; width: 150px;"
            />
        </button>
          </div>
    </div>
  </div>
