.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white; /* Color blanco para el texto */
    text-align: center;
  }
  
  /* Imagen de fondo */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/fondo.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  /* Contenedor de contenido */
  .content {
    z-index: 1;
    color: white; /* Color blanco para garantizar que el contenido principal sea legible */
    position: relative;
    display: flex; /* Flexbox para alinear contenido */
    flex-direction: column; /* Permite que los elementos se apilen verticalmente */
    justify-content: flex-end; /* Alinea el contenido hacia abajo */
    height: 100%; /* Asegura que ocupe toda la altura */
  }

  /* Estilo para el contenedor de botones */
  .button-container {
    position: absolute; /* Permite que los botones se posicionen en coordenadas específicas */
    bottom: 500px; /* Ajusta esta propiedad para colocar el contenedor de botones cerca de la parte inferior */
    left: 0; /* Alinea el contenedor de botones a la izquierda */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    display: flex; /* Usamos flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
  }
  
  /* Estilo específico para los botones */
.send-button,
.back-button {
  width: 100px; /* Ancho del botón */
  height: 100px; /* Alto del botón */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el botón */
}

.send-button {
  margin-right: 20px; /* Espacio entre los botones */
}